body {
  margin: 0;
  background-color: #1c1e21;
  color: #abb2bf;
  font-family: 'Roboto Mono', monospace;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
}
